@use "../custom" as *;
@use "../components/mixins" as *;

.menu {
    @include gradient;
    li {
        padding: 0 .7rem;

        a{
            color: $white;
            text-transform: capitalize;
            font-weight: 600;
            font-size: 1rem;
        }
        @include media-breakpoint-between(lg, xl) {
            a {
                font-size: .9rem;
            }
        }
    }
    a.navbar-brand img {
        height: 30px;
    }
}
