<section class="counter-section">
    <div class="top-svg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,160L120,176C240,192,480,224,720,202.7C960,181,1200,107,1320,69.3L1440,32L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path></svg>
    </div>
    <div class="counter-content container" id="counterSection">
        <div class="row card-group text-center">
            <div class="col-md-3">
                <div class="card">
                    <div class="icon mx-auto"><i class="bi bi-emoji-smile"></i></div>
                    <div class="card-body">
                        <h3 class="card-title">Happy Clients</h3>
                        <p class="card-text counter-value" data-target="28">0</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="icon mx-auto"><i class="bi bi-tools"></i></div>
                    <div class="card-body">
                        <h3 class="card-title">Issues Solved</h3>
                        <p class="card-text counter-value" data-target="1134">0</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="icon mx-auto"><i class="bi bi-list-check"></i></div>
                    <div class="card-body">
                        <h3 class="card-title">Finished projects</h3>
                        <p class="card-text counter-value" data-target="35">0</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="icon mx-auto"><i class="bi bi-cup-hot"></i></div>
                    <div class="card-body">
                        <h3 class="card-title">Cups of coffee drank</h3>
                        <p class="card-text counter-value" data-target="768">0</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-svg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 170">
            <path fill="#ffffff" fill-opacity="1" d="M0,96L120,85.3C240,75,480,53,720,64C960,75,1200,117,1320,138.7L1440,160L1440,170L1320,170C1200,170,960,170,720,170C480,170,240,170,120,170L0,170Z"></path>
        </svg>
    </div>
</section>
