<section id="home" class="intro-section">
    <div class="container">
        <div class="row align-items-center text-white">
        <!-- START CONTENT FOR THE INTRO -->
            <div class="col-md-7 intros">
                <h1 class="display-2 lh-base">
                <span class="display-2--intro">Hey, I'm Oksana Shevchuk!</span>
                <span class="display-2--description"><p>I’m a web designer crafting modern, responsive websites that blend clean design with user-focused functionality. Whether you're launching a brand or refreshing your online presence &mdash; I turn ideas into beautiful, usable experiences.</p><p>In addition, I deploy websites and web applications to cloud platforms, ensuring they are optimized for performance, security, and scalability.</p></span>
                </h1>
                <a href="https://www.upwork.com/freelancers/~01688da9704b32046f" class="rounded-pill btn-rounded">Need a website? Let's discuss on <span class="upwork">Upwork</span>
                    <span class="circle-wrapper">
                        <i class="fas fa-arrow-right"></i> 
                    </span>
                </a>
            </div>
            <!-- END CONTENT FOR THE INTRO -->
      
            <!-- START CONTENT FOR THE VIDEO -->
            <div class="col-md-5 intros text-end">
                <div class="video-box">
                    <img src="{{ url_for('static', filename='assets/img/intro-section-illustration2.png') }}" alt="Video Illustration" class="img-fluid">
                    
                </div>
            </div>
            <!-- END CONTENT FOR THE VIDEO -->
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 197">
        <path fill="#fff" fill-opacity="1" d="
            M0,64L80,90.7
            C160,117,320,171,480,181.3
            C640,192,800,160,960,149.3
            C1120,139,1280,149,1360,154.7
            L1440,160
            L1440,197
            L0,197
            Z"/>
    </svg>
</section>