<section id="services" class="services mt-4 mb-3">
    <div class="container">
        <div class="row text-center">
            <h4 class="fw-bold lead mb-3 display-5">Services I can help you with</h4>
            <div class="row card-group">
                <div class="col-md-4 d-flex">
                    <div class="card w-100 shadow-lg m-2 p-4 d-flex flex-column">
                        <div class="icon mx-auto shadow"><i class="bi bi-vector-pen"></i></div>
                        <div class="card-body">
                            <h3 class="card-title">Design</h3>
                            <p class="card-text">
                                Get a visually engaging, user-friendly design that reflects your brand and keeps visitors interested.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex">
                    <div class="card w-100 shadow-lg m-2 p-4 d-flex flex-column">
                        <div class="icon mx-auto shadow"><i class="bi bi-code-slash"></i></div>
                        <div class="card-body">
                            <h3 class="card-title">Develop</h3>
                            <p class="card-text">
                                Have your website built with clean, efficient code that ensures performance across all devices and browsers.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex">
                    <div class="card w-100 shadow-lg m-2 p-4 d-flex flex-column">
                        <div class="icon mx-auto shadow"><i class="bi bi-cloud-arrow-up"></i></div>
                        <div class="card-body">
                            <h3 class="card-title">Deploy</h3>
                            <p class="card-text">
                                Launch with confidence — your site will be live, optimized, and ready to scale from day one.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
