{% extends 'main/base.html' %}
{% block title %}Oksana Shevchuk | Web Development & AWS Deployment Solutions{% endblock %}

{% block content %}
<!--  START OF INTRO SECTION-->
{% include 'main/includes/_intro.html' %}
<!-- END OF INTRO SECTION -->

<!-- START THE SERVICES SECTION -->
{% include 'services/list.html' %}
<!-- END THE SERVICES SECTION -->

<!-- START THE COUNTER SECTION -->
{% include 'main/includes/_counter.html' %}
<!-- END THE COUNTER SECTION -->

<!-- START THE WHY-CHOSE-ME SECTION -->
{% include 'faq/list.html' %}
<!-- END THE WHY-CHOSE-ME SECTION -->

<!-- START THE TESTIMONIALS SECTION -->
{% include 'main/includes/_testimonials.html' %}
<!-- END THE TESTIMONIALS SECTION -->
{% endblock %}