<!-- Modal -->
<div class="modal fade" id="addFaq" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add FAQ</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{{ url_for('admin.add_faq') }}">
            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="add-faq-title">FAQ's Title</label>
              <input type="text" name="title" id="add-faq-title" class="form-control" required />
            </div>
            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="add-faq-desc">FAQ's Description</label>
              <textarea name="desc" id="add-faq-desc" class="form-control" required></textarea>
            </div>
            <!-- Submit button -->
            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block">Create a new FAQ</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editFaq" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editFaqLabel">Editing FAQ </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" id="edit-faq-form">
          <input type="hidden" name="id" id="edit-faq-id">
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="edit-faq-title">FAQ's Title</label>
            <input type="text" name="title" id="edit-faq-title" class="form-control" />
          </div>
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="edit-faq-desc">FAQ's Description</label>
            <textarea name="desc" id="edit-faq-desc" class="form-control"></textarea>
          </div>
          <!-- Submit button -->
          <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block">Update FAQ</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteFaq" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteFAQLabel">Deleting FAQ</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure about deleting this FAQ?
      </div>
      <div class="modal-footer">
        <form method="POST" id="delete-faq-form">
          <input type="hidden" name="id" id="delete-faq-id" >
          <button type="submit" class="btn btn-primary">Yes</button>
        </form>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>