<!-- Modal -->
<div class="modal fade" id="addService" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{{ url_for('admin.add_service') }}">
            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="add-service-icon">Icon</label>
              <input type="text" name="icon" id="add-service-icon" class="form-control" required />
            </div>
            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="add-service-name">Service's Name</label>
              <input type="text" name="name" id="add-service-name" class="form-control" required />
            </div>
            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="add-service-desc">Service's Description</label>
              <textarea name="desc" id="add-service-desc" class="form-control" required></textarea>
            </div>
            <!-- Submit button -->
            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block">Create a new Service</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editService" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editService1Label">Editing Service</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" id="edit-service-form">
          <input type="hidden" name="id" id="edit-service-id">
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="edit-service-icon">Icon</label>
            <input type="text" name="icon" id="edit-service-icon" class="form-control" />
          </div>
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="edit-service-name">Service's Name</label>
            <input type="text" name="name" id="edit-service-name" class="form-control" />
          </div>
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="edit-service-desc">Service's Description</label>
            <textarea name="desc" id="edit-service-desc" class="form-control"></textarea>
          </div>
          <!-- Submit button -->
          <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block">Update Service</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteService" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteService1Label">Deleting Service</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure about deleting this Service?
      </div>
      <div class="modal-footer">
        <form method="POST" id="delete-service-form">
          <input type="hidden" name="id" id="delete-service-id" >
          <button type="submit" class="btn btn-primary">Yes</button>
        </form>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>