<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    {% block styles %}
    <!-- Link to the styles.css here to apply styling to all the child templates.-->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/fontawesome.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap-icons.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('admin.static', filename='css/admin-styles.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:opsz@18..144&family=Poppins&display=swap" rel="stylesheet">
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>

<!--  START OF NAVBAR SECTION-->

  <nav class="navbar navbar-dashboard navbar-expand-lg bg-primary menu navbar-dark shadow">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('main.home') }}">
        <img src="{{ url_for('static', filename='assets/img/logo-dashboard.png') }}" alt="Logo Image">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('admin.dashboard') }}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Edit Intro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin.services') }}">Manage Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Manage Key Metrics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin.why_choose_me') }}">Manage Why Choose Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Manage Testimonials</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!--  END OF NAVBAR SECTION-->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

    <!-- Back to top button -->
    <button
            type="button"
            class="btn btn-floating btn-lg shadow"
            id="btn-back-to-top"
            >
      <i class="fas fa-arrow-up"></i>
    </button>
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.bundle.min.js') }}"></script>
    {% block scripts %}{% endblock %}
  </body>

</html>