<section class="faq mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow">
                    <h2 class="card-header">Why choose me</h2>
                    <div class="card-body">
                        <button type="button" class="btn btn-success float-end" data-bs-toggle="modal" data-bs-target="#addFaq">Add a new FAQ</button>
                        <table class="table table-striped fs-6">
                        <thead class="thead-dark">
                            <tr>
                            <th>FAQ Order</th>
                            <th>Faq Title</th>
                            <th>FAQ Description</th>
                            <th></th>
                            <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for faq in faqs %}
                            <tr>
                            <td><div class="fs-2"><i class="bi bi-arrow-up-square"></i> <i class="bi bi-arrow-down-square"></i></div></td>
                            <td>{{ faq.title }}</td>
                            <td>{{ faq.description }}</td>
                            <td>
                                <button
                                        class="btn btn-warning edit-faq-btn"
                                        data-id="{{ faq.fid }}"
                                        data-icon="{{ faq.order }}"
                                        data-name="{{ faq.title }}"
                                        data-desc="{{ faq.description }}"
                                        data-bs-toggle="modal"
                                        data-bs-target="#editFaq"
                                        >
                                Edit
                                </button>
                            </td>
                            <td><button class="btn btn-danger delete-faq-btn" data-id="{{ faq.fid }}" data-bs-toggle="modal" data-bs-target="#deleteFaq">Delete</button></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>