<section class="faq mt-5" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow">
                    <h2 class="card-header">Why choose me</h2>
                    <div class="card-body">
                        <button type="button" class="btn btn-success float-end" data-bs-toggle="modal" data-bs-target="#addFaq">Add a new FAQ</button>
                        <table class="table table-striped fs-6">
                        <thead class="thead-dark">
                            <tr>
                            <th class="th-ordering">FAQ Order</th>
                            <th>Faq Title</th>
                            <th>FAQ Description</th>
                            <th></th>
                            <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% set i = namespace(value=0) %}
                        {% for faq in faqs %}
                            <tr>
                            {% set i.value = i.value + 1 %}
                            {% if i.value == 1 %}
                            <td class="table-col-icons">
                                <span class="td-ordering">
                                    <button 
                                        type="button" 
                                        class="btn btn-sm btn-light fs-2" 
                                        aria-label="Move faq down" 
                                        title="Move down"
                                        data-id="{{ faq.fid }}"
                                        data-direction="down">
                                        <i class="bi bi-arrow-down-square"></i>
                                    </button>
                                </span>
                            </td>
                            {% elif i.value == faqs|length %}
                            <td class="table-col-icons">
                                <span class="td-ordering">
                                    <button 
                                        type="button" 
                                        class="btn btn-up-{{ faq.sort_order }} btn-sm btn-light fs-2" 
                                        aria-label="Move faq up" 
                                        title="Move up"
                                        data-id="{{ faq.fid }}"
                                        data-direction="up">
                                        <i class="bi bi-arrow-up-square"></i>
                                    </button>
                                </span>
                            </td>
                            {% else %}
                            <td class="table-col-icons">
                                <button 
                                    type="button" 
                                    class="btn btn-up-{{ faq.sort_order }} btn-sm btn-light fs-2" 
                                    aria-label="Move faq up" 
                                    title="Move up"
                                    data-id="{{ faq.fid }}"
                                    data-direction="up">
                                    <i class="bi bi-arrow-up-square"></i>
                                </button> 
                                <button 
                                    type="button" 
                                    class="btn btn-down-{{ faq.sort_order }} btn-sm btn-light fs-2" 
                                    aria-label="Move faq down" 
                                    title="Move down"
                                    data-id="{{ faq.fid }}"
                                    data-direction="down">
                                    <i class="bi bi-arrow-down-square"></i>
                                </button>
                            </td>
                            {% endif %}
                            <td>{{ faq.title }}</td>
                            <td>{{ faq.description }}</td>
                            <td>
                                <button
                                        class="btn btn-warning edit-faq-btn"
                                        data-id="{{ faq.fid }}"
                                        data-order="{{ faq.sort_order }}"
                                        data-title="{{ faq.title }}"
                                        data-desc="{{ faq.description }}"
                                        data-bs-toggle="modal"
                                        data-bs-target="#editFaq"
                                        >
                                Edit
                                </button>
                            </td>
                            <td><button class="btn btn-danger delete-faq-btn" data-id="{{ faq.fid }}" data-bs-toggle="modal" data-bs-target="#deleteFaq">Delete</button></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>