{% extends 'admin/base.html' %}
{% block title %}Oksana Shevchuk | Admin panel{% endblock %}

{% block content %}
<!--  START OF SERVICES SECTION-->
{% include 'admin/edit-services.html' %}
{% include 'admin/components/modals/services-modal.html' %}
<!-- END OF SERVICES SECTION -->
{% endblock %}

{% block scripts %}
<script src="{{ url_for('admin.static', filename='js/dashboard-services.js') }}"></script>
<script src="{{ url_for('admin.static', filename='js/dashboard-faq.js') }}"></script>
{% endblock %}