<section class="testimonials-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="fw-bold lead mt-5 mb-3 display-5 text-center" id="testimonials">What My Customers
Say</h4>
            </div>
            <div class="col-md-12">
                <div class="container py-5">
                    <div class="carousel-wrapper overflow-hidden position-relative">
                        <div class="d-flex transition carouselItems" id="carouselItems">
                            <div class="col-lg-6 col-md-6 col-12 card item border-0">
                                <div class="row card-body shadow">
                                    <div class="col-md-4 card-photo">
                                        <img src="{{ url_for('static', filename='assets/img/clients/Chelsea_Silver.jpg') }}" alt="Client">
                                    </div>
                                    <div class="col-md-8 description">
                                        <div class="stars">
                                            ★★★★★
                                        </div>
                                        <div class="card-title ">
                                            Chelsea Silver
                                        </div>
                                        <div class="card-text">
                                            "Oksana is a great developer and really great at making your ideas come to life"
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12 card item border-0">
                                <div class="row card-body shadow">
                                    <div class="col-md-4 card-photo">
                                        <img src="{{ url_for('static', filename='assets/img/clients/Daniel_Brooke.jpg') }}" alt="Client">
                                    </div>
                                    <div class="col-md-8 description">
                                        <div class="stars">
                                            ★★★★★
                                        </div>
                                        <div class="card-title">
                                            Daniel Brooke
                                        </div>
                                        <div class="card-text">
                                            "Oksana is outstanding, providing everything I asked for and more. Her skill is 10/10. I'll be working with her again and referring her to anyone in need of a web developer."
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12 card item border-0">
                                <div class="row card-body shadow">
                                    <div class="col-md-4 card-photo">
                                        <img src="{{ url_for('static', filename='assets/img/clients/Piotr_Babrounik.jpg') }}" alt="Client">
                                    </div>
                                    <div class="col-md-8 description">
                                        <div class="stars">
                                            ★★★★★
                                        </div>
                                        <div class="card-title">
                                            Piotr Babrounik
                                        </div>
                                        <div class="card-text">
                                            "Oksana was an incredible collaborator on this project. She offered up her own solutions when needed and we worked together very quickly to get what we needed. Highly recommend her."
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12 card item border-0">
                                <div class="row card-body shadow">
                                    <div class="col-md-4 card-photo shadow-sm">
                                        <img src="{{ url_for('static', filename='assets/img/clients/Jimmy_Wong.jpg') }}" alt="Client">
                                    </div>
                                    <div class="col-md-8 description">
                                        <div class="stars">
                                            ★★★★<span class="half-star">⯪</span>
                                        </div>
                                        <div class="card-title">
                                            Jimmy Wong
                                        </div>
                                        <div class="card-text">
                                            "Amazing work and communication. Completed fast!"
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12 card item border-0">
                                <div class="row card-body shadow">
                                    <div class="col-md-4 card-photo">
                                        <img src="{{ url_for('static', filename='assets/img/clients/Louise_Girard.jpg') }}" alt="Client">
                                    </div>
                                    <div class="col-md-8 description">
                                        <div class="stars">
                                            ★★★★★
                                        </div>
                                        <div class="card-title">
                                            Louise Girard
                                        </div>
                                        <div class="card-text">
                                            "Oksana has a very good coding skills - it's really clean and well-documented. I'm also impressed with her Flask skills. It's clear that she knows the ins and outs of this framework."
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12 card item border-0">
                                <div class="row card-body shadow">
                                    <div class="col-md-4 card-photo">
                                        <img src="{{ url_for('static', filename='assets/img/clients/Charles_Rushlow.jpg') }}" alt="Client">
                                    </div>
                                    <div class="col-md-8 description">
                                        <div class="stars">
                                            ★★★★★
                                        </div>
                                        <div class="card-title">
                                            Charles Rushlow
                                        </div>
                                        <div class="card-text">
                                            "Oksana is good and talented so don't hesitate to hire her she will do her best! I enjoyed working with her and will likely have additional jobs for her in the future."
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center m-3">
                        <div class="m-1">
                            <button id="prevBtn" class="btn btn-secondary">
                                <i class="bi bi-chevron-left"></i>
                            </button>
                        </div>
                        <div class="m-1">
                            <button id="nextBtn" class="btn btn-secondary">
                                <i class="bi bi-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>