@use "../custom" as *;

body {
    font-family: $body-font;
}
// section {
//     overflow: hidden;
// }
@for $i from 1 through 6 {
    h#{$i} {
        font-family: $header-font;
    }
}
.display-2 {
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-family: $header-font;

    &--intro {
        font-size: 3rem;
        display: inline-block;
        font-weight: 700;
        font-family: $header-font;
    }

    &--description {
        font-size: 1.2rem;
        display: block;
        text-transform: none;
        margin-bottom: 2rem;
    }
}