{% extends 'base.html' %}
{% block title %}Oksana Shevchuk | Web Development & AWS Deployment Solutions{% endblock %}

{% block content %}
<!--  START OF INTRO SECTION-->
{% include 'home/_intro-section.html' %}
<!-- END OF INTRO SECTION -->

<!-- START THE SERVICES SECTION -->
{% include 'services/public.html' %}
<!-- END THE SERVICES SECTION -->

<!-- START THE COUNTER SECTION -->
{% include 'home/_counter.html' %}
<!-- END THE COUNTER SECTION -->

<!-- START THE WHY-CHOSE-ME SECTION -->
{% include 'faq/public.html' %}
<!-- END THE WHY-CHOSE-ME SECTION -->

<!-- START THE TESTIMONIALS SECTION -->
{% include 'home/_testimonials.html' %}
<!-- END THE TESTIMONIALS SECTION -->
{% endblock %}